.challenges-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 60px !important
  .challenge-holder
    width: 48%
    height: 300px
    margin-bottom: 30px
    cursor: pointer
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    box-sizing: border-box

    &:hover
      background-image: url()
      .challenge-details
        display: flex

    .challenge-details
      height: 100%
      text-align: center
      justify-content: center
      flex-direction: column
      align-items: center
      display: none
  .otherchallenge-holder
    margin-bottom: 30px

  .challenge1
    background-image: url("./challenges/assets/design.JPG")
  .challenge2
    background-image: url("./challenges/assets/card.JPG")
  .challenge3
    background-image: url("./challenges/assets/searchfilter.JPG")









@media only screen and (max-width: 768px)
  .challenges-container
    flex-direction: column
    .challenge-holder
      width: 100%
