---

---

<html>

  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

<!--    imports  -->
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script src="http://velocityjs.org/build/jquery.velocity.min.js"></script>
<script src="http://velocityjs.org/build/velocity.ui.js" ></script>
  <script src="js/typing.js"></script>
  <script src="js/functions.js"></script>

<body style="margin: 0">

  {% include header.html %}

  {% include gallery.html %}

  {% include projects.html %}

  {% include blog.html %}

  {% include about.html %}

  {% include contact.html %}



</body>


</html>
