body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0; }
  body .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1; }
    body .header .progress-container {
      width: 100%;
      height: 5px; }
      body .header .progress-container .progress-bar {
        height: 5px;
        background-color: black;
        width: 0; }
  body .sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    opacity: 0.25;
    transition: 0.3s; }
    body .sidenav:hover {
      opacity: 1; }
    body .sidenav h5 {
      font-weight: 400 !important; }
    body .sidenav table {
      text-align: left;
      font-size: 14px;
      margin-bottom: 40px; }
      body .sidenav table th {
        padding-bottom: 12px; }
        body .sidenav table th a {
          text-decoration: none;
          color: inherit; }
        body .sidenav table th .active {
          text-decoration: underline !important; }
      body .sidenav table td {
        padding-left: 20px;
        padding-bottom: 12px;
        color: #BDC3C7; }
        body .sidenav table td a {
          text-decoration: none;
          color: inherit; }
        body .sidenav table td .active {
          text-decoration: underline !important; }
    body .sidenav .sidenav-toggle {
      display: none; }
      body .sidenav .sidenav-toggle img {
        transition: all 500ms ease-in-out; }
    body .sidenav .back-to-prof {
      display: flex;
      letter-spacing: 1px;
      font-size: 14px;
      margin-bottom: 40px; }
      body .sidenav .back-to-prof img {
        height: 20px;
        margin-right: 10px; }
      body .sidenav .back-to-prof div a {
        text-decoration: none;
        color: black; }
    body .sidenav .social-media img {
      width: 30px; }
    body .sidenav .sub-title {
      opacity: 0.6;
      text-indent: 5px; }
  body .main {
    margin-left: 30%;
    margin-right: 20%;
    height: auto; }
    body .main .content-container {
      padding-left: 30%;
      padding-top: 15%;
      margin-bottom: 100px; }
      body .main .content-container .cs-img img {
        max-width: 100%; }
      body .main .content-container .cs-img .caption {
        font-size: 10px;
        color: #ccc;
        text-align: center;
        margin-top: 20px; }
      body .main .content-container h2 {
        padding-top: 50px;
        margin-top: 100px; }
      body .main .content-container p {
        line-height: 26px; }
      body .main .content-container h4 {
        padding-top: 20px;
        text-decoration: underline;
        font-style: italic; }
      body .main .content-container .quoted-text {
        font-family: "Montserrat";
        font-style: italic;
        display: flex; }
        body .main .content-container .quoted-text .stroke {
          margin-right: 30px;
          width: 20px;
          background-color: #DBE9EE; }

.rotate {
  transform: rotate(540deg); }

.open {
  left: 0 !important; }

@media only screen and (max-width: 1024px) {
  body .main {
    margin-right: 10%; }
    body .main .content-container {
      padding-left: 20%; }
  body .sidenav {
    width: 20%;
    opacity: 1; } }
@media only screen and (max-width: 768px) {
  body .main {
    margin-right: 3%; } }
@media only screen and (max-width: 414px) {
  body .sidenav-toggle {
    display: block; }
  body .sidenav {
    width: 100%;
    background-color: white;
    padding-top: 40px;
    padding-right: 5%;
    box-sizing: border-box;
    left: -82%; }
    body .sidenav .sidenav-toggle {
      display: block;
      float: right; }
      body .sidenav .sidenav-toggle img {
        float: right; }
    body .sidenav table {
      width: 80%;
      margin-bottom: 10px; }
      body .sidenav table th {
        padding-bottom: 2px; }
      body .sidenav table td {
        padding-bottom: 2px; }
    body .sidenav .back-to-prof {
      margin-bottom: 10px; }
  body .main {
    margin-left: 5%; }
    body .main .content-container h1 {
      font-size: 19px; }
    body .main .content-container .projects-container {
      margin-top: 60px; }
      body .main .content-container .projects-container .project {
        height: 170px; } }

/*# sourceMappingURL=proj1.css.map */
