<section id="about" class="about" style="background: rgba(0, 0, 0, 0.9)">

  <h1>About</h1>

  <div class="about-container hidden">

    <div class="about-content">
      <p>Phasellus vehicula ipsum non eros gravida pellentesque. Etiam consequat purus eget magna volutpat, id gravida purus tincidunt. In hac habitasse platea dictumst. Integer porta, velit ut finibus ullamcorper, ipsum quam laoreet erat, id pulvinar nibh tortor quis eros. Phasellus maximus dictum nisi, eget pellentesque arcu cursus vitae. Etiam imperdiet vehicula odio vitae varius. Phasellus nec risus sit amet ipsum aliquam rhoncus vitae a nisl. Vivamus quis consequat lacus. Proin facilisis dui non ornare pharetra. Fusce quis urna eu purus facilisis maximus.</p>
    </div>

    <div class="about-image">img</div>


  </div>

</section>
