<section id="about" class="about" style="background: rgba(0, 0, 0, 0.9)">

  <h1>About</h1>

  <div class="about-container ">

    <div class="about-content">
      <p>
        I'm a computer science student from London. I'm currently in my third year trying not to freak out about my dissertation.
        <br>
        My passion for photography started a few years back when I saw a black and white picture with no caption or title because it didn't need one.
        The photograph itself told it's own story and I said to myself "I want to do that!".
        <br>
        As of now, I'm reading "Don't make me think" by Steve Krug, which is the go to book for designers.
        Building the portfolio made me realise how fun designing a web page can be.


      </p>
    </div>

    <div class="about-image"><img src="css/img/me.jpg"/></div>


  </div>

</section>
