<section class="blog">
  <h1> Blog </h1>
  
  <div class="posts-nav">
    <span>LATEST POSTS</span>   <span>ALL POSTS</span>
  </div>
  
  
  <div class="blog-container">
  
    <div class="post-container">
    
      <div class="post">
        <div class="post-img">img</div>
        <div class="post-content">
          
          <h1 class="blog-title">Nullam venenatis, mi.</h1>
          <span class="date"> 07/08/2016 </span>
          <p>Praesent dictum metus et nibh suscipit, sit amet lacinia lectus scelerisque. Donec eget ligula mollis, lacinia sapien quis, luctus turpis. Ut elementum, mauris a porttitor fermentum, erat purus sagittis odio, eget aliquam orci quam et risus.</p>
          
          
          <div class="more">READ MORE</div>
        </div>
      </div>
      
    </div>
    
    <div class="post-container">
    
      <div class="post">
        <div class="post-img">img</div>
        <div class="post-content">
          
          <h1 class="blog-title">Vestibulum interdum.</h1>
          <span class="date"> 01/08/2016 </span>
          <p>Cras finibus urna sed metus fermentum, eu maximus tortor pellentesque. Proin a nisi urna. In rutrum velit lacinia mauris laoreet, eu volutpat velit hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          
          
          <div class="more">READ MORE</div>
        </div>
      </div>
      
    </div>
    
    <div class="post-container">
    
      <div class="post">
        <div class="post-img">img</div>
        <div class="post-content">
          
          <h1 class="blog-title">Phasellus finibus est vel.</h1>
          <span class="date"> 25/07/2016 </span>
          <p>Curabitur sit amet euismod urna. Suspendisse interdum venenatis tincidunt. Vivamus condimentum erat et metus varius, quis blandit quam luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          
          
          <div class="more">READ MORE</div>
        </div>
      </div>
      
    </div>
  
  </div>
  

</section>