
<section class="blog" id="blog">

  <div class="blog-belt">
    <div class="latest-posts-wrap">
      <h1> Blog </h1>

      <div class="posts-nav">
        <span>LATEST POSTS</span>   <span class="allposts">SEE ALL POSTS</span>
      </div>


      <div class="blog-container">
        {% for post in site.posts limit: 3 %}
        <div class="post-container">

          <div class="post">
            <div class="post-img"><a target="_blank" href="{{ site.baseurl }}{{ post.url }}"><img src= {{ post.image }} ></a> </div>
            <div class="post-content">

              <h1 class="blog-title">{{ post.title }}</h1>
              <span class="date"> {{ post.date | date: "%d-%m-%Y" }} </span>
              <p>{{ post.description }}</p>


              <div class="more"><a target="_blank" href="{{ site.baseurl }}{{ post.url }}"> READ MORE</a></div>
            </div>
          </div>

        </div>
        {% endfor %}

      </div>
    </div>

    <div class="full-content-wrap">
        <div class="return">
          <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-128.png"/>
        </div>

        <div class="blog-content-wrap">
          {% for post in site.posts %}
          <div class="post-block">
            <a target="_blank" href="{{ site.baseurl }}{{ post.url }}"><div class="post-block-img">
              <img src="{{ post.image}}" />
            </div></a>
            <div class="post-block-text">
              <a target="_blank" href="{{ site.baseurl }}{{ post.url }}"><h2> {{post.title}} </h2> </a>
              <h4> {{post.date | date: "%d-%m-%Y"}} </h4>
            </div>
          </div>
          {% endfor %}

        </div>
    </div>
  </div>

</section>
