
<section class="blog" id="blog">

  <div class="blog-belt">
    <div class="latest-posts-wrap">
      <h1> Blog </h1>

      <div class="posts-nav">
        <span>LATEST POSTS</span>   <span class="allposts">ALL POSTS</span>
      </div>


      <div class="blog-container">
        {% for post in site.posts limit: 3 %}
        <div class="post-container">

          <div class="post">
            <div class="post-img"><a href="{{post.url}}"><img src= {{ post.image }} ></a> </div>
            <div class="post-content">

              <h1 class="blog-title">{{ post.title }}</h1>
              <span class="date"> {{ post.date | date: "%d-%m-%Y" }} </span>
              <p>{{ post.description }}</p>


              <div class="more"><a href="{{ post.url}}"> READ MORE</a></div>
            </div>
          </div>

        </div>
        {% endfor %}

      </div>
    </div>

    <div class="full-content-wrap">
        <div class="blog-content-wrap">
          <div class="return">
            <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-128.png"/>
          </div>

          {% for post in site.posts %}
          <div class="post-list">

            <div class="post-thumb">
              <a href="{{post.url}}"><img src="{{ post.image }}" /></a>
            </div>

            <div class="post-info">
              <a href="{{post.url}}"><h2> {{post.title}} </h2> </a>
              <h4> {{post.date | date: "%d-%m-%Y" }}</h4>
              <p> {{post.description}} </p>
            </div>

          </div>
          {% endfor %}
        </div>

    </div>
  </div>

</section>
