<section class="gallery" id="gallery">

<h1>Gallery</h1>

<nav>
  <a class="events active">EVENTS</a>
  <a class="street" >STREET</a>
  <a class="fineart">FINEART</a>
  <a class="other">OTHER</a>
</nav>

<div class="belt">
  <div class="gallery-container-wrap">
    <div class="gallery-container ">
      <div class="img">
        <a data-lightbox="events" href="css/img/flatwebdesign.jpg">
          <img src="css/img/flatwebdesign.png"/>
        </a></div>
      <div class="img">
        <a data-lightbox="events" href="css/img/flatwebdesign.jpg">
          <img src=""/>
        </a></div>
      <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
  </div>
  <div class="gallery-container notShowing" id="gallery-more">
    <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="events" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
  </div>
    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
</div>

  <div class="category-container-wrap">
    <div class="gallery-container ">
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src="css/img/close.png"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
    </div>

    <div class="gallery-container notShowing" id="gallery-more">
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/close.png">
        <img src=""/>
      </a></div>
    </div>

    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
  </div>

  <div class="category-container-wrap">
    <div class="gallery-container ">
      <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
  </div>
  <div class="gallery-container notShowing" id="gallery-more">
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
  </div>
    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
  </div>

  <div class="category-container-wrap">
    <div class="gallery-container ">
      <div class="img">1<a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img">2<a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img">2<a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img">2<a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img">2<a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
      <div class="img">2<a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
        <img src=""/>
      </a></div>
  </div>
  <div class="gallery-container notShowing" id="gallery-more">
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
    <div class="img"><a data-lightbox="gallery" href="css/img/flatwebdesign.jpg">
      <img src=""/>
    </a></div>
  </div>
    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
  </div>

</div>



</section>
