<section class="gallery" id="gallery">

<h1>Gallery</h1>

<nav>
  <a class="events active">EVENTS</a>
  <a class="street" >STREET</a>
  <a class="fineart">FINEART</a>
  <a class="other">OTHER</a>
</nav>

<div class="belt">
  <!-- Events -->
  <div class="gallery-container-wrap">
    <!-- first 6 images -->
    <div class="gallery-container ">
      <div class="img">
        <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_AWARD-1.jpg">
          <img src="css/img/Gallery/Thumbs/MDX_AWARD-1.jpg"/>
        </a></div>
      <div class="img">
        <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_AWARD-2.jpg">
          <img src="css/img/Gallery/Thumbs/MDX_AWARD-2.jpg"/>
        </a></div>
      <div class="img">
        <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_AWARD-3.jpg">
        <img src="css/img/Gallery/Thumbs/MDX_AWARD-3.jpg"/>
      </a></div>
      <div class="img">
        <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_AWARD-4.jpg">
        <img src="css/img/Gallery/Thumbs/MDX_AWARD-4.jpg"/>
      </a></div>
      <div class="img">
        <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_AWARD-5.jpg">
        <img src="css/img/Gallery/Thumbs/MDX_AWARD-5.jpg"/>
      </a></div>
      <div class="img">
        <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_Summer_Fest-146.jpg">
        <img src="css/img/Gallery/Thumbs/MDX_Summer_Fest-146.jpg" />
      </a></div>

  </div>
  <!-- next 6 images hidden -->
  <div class="gallery-container notShowing" id="gallery-more">
    <div class="img">
      <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_Summer_Fest-52.jpg">
      <img src="css/img/Gallery/Thumbs/MDX_Summer_Fest-52.jpg"/>
    </a></div>
    <div class="img">
      <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_AWARD-6.jpg">
      <img src="css/img/Gallery/Thumbs/MDX_AWARD-6.jpg"/>
    </a></div>
    <div class="img">
      <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_Summer_Fest-67.jpg">
      <img src="css/img/Gallery/Thumbs/MDX_Summer_Fest-67.jpg"/>
    </a></div>
    <div class="img">
      <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_Summer_Fest-99.jpg">
      <img src="css/img/Gallery/Thumbs/MDX_Summer_Fest-99.jpg"/>
    </a></div>
    <div class="img">
      <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_Summer_Fest-123.jpg">
      <img src="css/img/Gallery/Thumbs/MDX_Summer_Fest-123.jpg"/>
    </a></div>
    <div class="img">
      <a data-lightbox="events" href="css/img/Gallery/Lightbox/MDX_Summer_Fest-133.jpg">
      <img src="css/img/Gallery/Thumbs/MDX_Summer_Fest-133.jpg"/>
    </a></div>

  </div>
    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
</div>

<!-- Street -->
  <div class="category-container-wrap">
    <div class="gallery-container ">
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street1.jpg">
        <img src="css/img/Gallery/Thumbs/street1.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street2.jpg">
        <img src="css/img/Gallery/Thumbs/street2.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street3.jpg">
        <img src="css/img/Gallery/Thumbs/street3.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street4.jpg">
        <img src="css/img/Gallery/Thumbs/street4.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street5.jpg">
        <img src="css/img/Gallery/Thumbs/street5.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street6.jpg">
        <img src="css/img/Gallery/Thumbs/street6.jpg"/>
      </a></div>
    <div class="gallery-container notShowing" id="gallery-more">
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street7.jpg">
        <img src="css/img/Gallery/Thumbs/street7.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street8.jpg">
        <img src="css/img/Gallery/Thumbs/street8.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street9.jpg">
        <img src="css/img/Gallery/Thumbs/street9.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street10.jpg">
        <img src="css/img/Gallery/Thumbs/street10.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street11.jpg">
        <img src="css/img/Gallery/Thumbs/street11.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="street" href="css/img/Gallery/Lightbox/street12.jpg">
        <img src="css/img/Gallery/Thumbs/street12.jpg"/>
      </a></div>

    </div>

    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
  </div>

<!--Fineart  -->
  <div class="category-container-wrap">
    <div class="gallery-container ">
      <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart1.jpg">
        <img src="css/img/Gallery/Thumbs/fineart1.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart2.jpg">
        <img src="css/img/Gallery/Thumbs/fineart2.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart3.jpg">
        <img src="css/img/Gallery/Thumbs/fineart3.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart4.jpg">
        <img src="css/img/Gallery/Thumbs/fineart4.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart5.jpg">
        <img src="css/img/Gallery/Thumbs/fineart5.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart6.jpg">
        <img src="css/img/Gallery/Thumbs/fineart6.jpg"/>
      </a></div>
  </div>
  <div class="gallery-container notShowing" id="gallery-more">
    <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart7.jpg">
      <img src="css/img/Gallery/Thumbs/fineart7.jpg"/>
    </a></div>
    <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart8.jpg">
      <img src="css/img/Gallery/Thumbs/fineart8.jpg"/>
    </a></div>
    <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart9.jpg">
      <img src="css/img/Gallery/Thumbs/fineart9.jpg"/>
    </a></div>
    <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart10.jpg">
      <img src="css/img/Gallery/Thumbs/fineart10.jpg"/>
    </a></div>
    <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart11.jpg">
      <img src="css/img/Gallery/Thumbs/fineart11.jpg"/>
    </a></div>
    <div class="img"><a data-lightbox="fineart" href="css/img/Gallery/Lightbox/fineart12.jpg">
      <img src="css/img/Gallery/Thumbs/fineart12.jpg"/>
    </a></div>
  </div>
    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
  </div>


<!--Other  -->
  <div class="category-container-wrap">
    <div class="gallery-container ">
      <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other1.jpg">
        <img src="css/img/Gallery/Thumbs/other1.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other2.jpg">
        <img src="css/img/Gallery/Thumbs/other2.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other3.jpg">
        <img src="css/img/Gallery/Thumbs/other3.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other4.jpg">
        <img src="css/img/Gallery/Thumbs/other4.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other5.jpg">
        <img src="css/img/Gallery/Thumbs/other5.jpg"/>
      </a></div>
      <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other6.jpg">
        <img src="css/img/Gallery/Thumbs/other6.jpg"/>
      </a></div>
  </div>
  <div class="gallery-container notShowing" id="gallery-more">
    <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other8.jpg">
      <img src="css/img/Gallery/Thumbs/other8.jpg"/>
    </a></div>
    <div class="img"><a data-lightbox="other" href="css/img/Gallery/Lightbox/other9.jpg">
      <img src="css/img/Gallery/Thumbs/other9.jpg"/>
    </a></div>

  </div>
    <div id="more-gallery" class="more">
      <img class="expandmore" src="css/img/ExpandMore.png"/>
      <img class="expandless" src="css/img/ExpandLess.png"/>
    </div>
  </div>

</div>



</section>
