<section class="gallery" id="gallery">

<h1>Gallery</h1>

<nav>
  <a class="events active">EVENTS</a>
  <a class="street" >STREET</a>
  <a class="fineart">FINEART</a>
  <a class="other">OTHER</a>
</nav>

<div class="belt">
  <div class="gallery-container-wrap">
    <div class="gallery-container hidden">
      <div class="img">1</div>
      <div class="img">2</div>
      <div class="img">3</div>
      <div class="img">4</div>
      <div class="img">5</div>
      <div class="img">6</div>
  </div>
  <div id="more-gallery" class="more"> <a href="more.html" >MORE</a></div>
</div>

  <div class="category-container-wrap">
    <div class="gallery-container hidden">
      <div class="img">7</div>
      <div class="img">8</div>
      <div class="img">9</div>
      <div class="img">10</div>
      <div class="img">11</div>
      <div class="img">12</div>
  </div>
  <div id="more-gallery" class="more">MORE</div>
  </div>

  <div class="category-container-wrap">
    <div class="gallery-container hidden">
      <div class="img">13</div>
      <div class="img">14</div>
      <div class="img">15</div>
      <div class="img">16</div>
      <div class="img">17</div>
      <div class="img">18</div>
  </div>
  <div id="more-gallery" class="more">MORE</div>
  </div>

  <div class="category-container-wrap">
    <div class="gallery-container hidden">
      <div class="img">19</div>
      <div class="img">20</div>
      <div class="img">21</div>
      <div class="img">22</div>
      <div class="img">23</div>
      <div class="img">24</div>
  </div>
  <div id="more-gallery" class="more"> MORE </div>
  </div>

</div>



</section>
