<header id="homepage">


  <nav>
  <a href="#homepage"> Home</a>
  <a href="#gallery"> Gallery</a>
  <a href="#projects"> Projects</a>
  <a href="#blog"> Blog</a>
  <a href="#about"> About</a>
  <a href="#contact"> Contact</a>
  </nav>

<div class="typo">
    <h1> Hi,<br> I'm
      <span class="txt-rotate"
    data-period="2000"
    data-rotate='[ "Aimen","a dreamer.", "a thinker.", "a learner." ]'>
      </span>
   </h1>
   <img src="css/img/flatwebdesign.png"/>
</div>




    <!-- <h3>is
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "a dreamer.", "a thinker.", "an aspiring photographer." ]'></span>
</h3> -->



</header>
