<section id="projects" style="background-color: rgba(0, 0, 0, 0.9)" class="projects">


<div class="project-belt">


    <div class="projects-container ">
      <h1> Projects</h1>
      <div class="projects-thumb">
        <!-- <div class="thumb">pro 1</div>
        <div class="thumb">pro 2</div>
        <div class="thumb">pro 3</div> -->
        {% for project in site.data.settings.projects %}
          <div class="thumb" data-folder="{{project.folder}}"></div>

        {% endfor %}
      </div>
    </div>


  <div class="project-load">
    <img class="return-proj" src="css/img/return-arrow-white.png"/>
    <div class="project-content">

      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam mi, pellentesque et est quis, tempor posuere nisi. Nam gravida lacus leo, in aliquam mauris cursus a. In hendrerit orci lorem, mollis rutrum neque tristique id. Quisque non tempus magna. Ut commodo felis augue, non dapibus turpis dictum et. Donec vitae tempus purus. Nullam iaculis magna quis felis mollis vehicula. Vivamus aliquet auctor metus, non blandit neque commodo ac. Aliquam feugiat libero sodales, semper purus vel, bibendum ipsum. Maecenas enim mauris, dapibus quis justo id, volutpat hendrerit nisi.</p>
      <img class="design" src="css/img/portfolio-green.jpg"/> -->
    </div>
  </div>

</div>
</section>
