.about 
  h1
    color: #f1f1f1
  
  .about-container
    margin: 0 auto
    width: 60%
    display: flex
    flex-wrap: wrap
    justify-content: center
    div
      margin: 50px
    .about-content
      color: #f1f1f1
      height: 400px
      width: 400px
      box-sizing: border-box
      font-size: 20px
      
    .about-image
      background: #ccc
      height: 400px
      width: 400px