.blog


  .posts-nav
    width: 60%
    margin: 50px auto 0
    span
      letter-spacing: 7px
      font-size: 20px
      margin-left: 80px
    span:nth-child(2)
      letter-spacing: 3px
      margin-right: 80px
      margin-top: 5px
      font-size: 15px
      float: right
      color: rgb(116, 116, 116)

  .blog-container
    width: 90%
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 30px auto 0
    @media (max-width: 1017px)
      justify-content: center

    .post-container
      width: 300px
      height: 625px
      margin: 20px

      .post
        .post-img
          height: 250px
          background: #ccc
        .post-content
          height: 450px
          .blog-title
            margin: 0
            font-size: 20px
            letter-spacing: 3px
            text-align: left
            font-weight: bold
          .date
            color: #2e2e2e
            font-size: 12px
          p
            margin: 10px 0
            height: 180px
            font-size: 18px
          .more
            margin: 0
            width: 200px
