.blog
  // overflow: hidden
  position: relative
  overflow: hidden
  .blog-belt
    width: 200%
    position: relative
    left: 0

    .latest-posts-wrap, .full-content-wrap
      width: 50%
      float: left
      overflow-y: hidden

      .posts-nav
        width: 60%
        margin: 50px auto 0
        span
          letter-spacing: 7px
          font-size: 20px
          margin-left: 80px
        span:nth-child(2)
          letter-spacing: 3px
          margin-right: 80px
          margin-top: 5px
          font-size: 15px
          float: right
          color: rgb(116, 116, 116)
          cursor: pointer

      .blog-container
        width: 90%
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin: 30px auto 0
        @media (max-width: 1017px)
          justify-content: center

        .post-container
          width: 300px
          height: auto
          margin: 20px

          .post
            .post-img
              height: 250px
              background: #ccc
              overflow: hidden

              a
                img
                  object-fit: cover
                  height: 100%
                  width: 100%


            .post-content
              height: auto
              .blog-title
                margin: 0
                font-size: 20px
                letter-spacing: 3px
                text-align: left
                font-weight: bold
              .date
                color: #2e2e2e
                font-size: 12px
              p
                margin: 10px 0 10px
                height: auto
                font-size: 18px
              .more
                margin: 0
                width: 200px
                a
                  text-decoration: none
                  color: black

      .return
        text-align: center
        img
          cursor: pointer

      .blog-content-wrap
        margin: 0 auto

        .post-block
          width: 350px
          min-width: 300px
          float: left
          margin: 10px

          .post-block-text
            position: absolute
            bottom: 0
            padding: 5px
            box-sizing: border-box
            width: 100%
            background-color: fade-out(white, 0.8)
            h2, h4
              margin: 0
              color: black
            a
              text-decoration: none
              h2
                font-size: 18px
            h4
              font-size: 13px
              font-weight: 300
              font-style: italic

//media query for blog front page (see all posts and latest posts)
@media (max-width: 640px)
  .blog .blog-belt .latest-posts-wrap .posts-nav
    margin-left: 40px
  .blog .blog-belt .latest-posts-wrap .posts-nav span
    margin-left: 0
    float: none
  .blog .blog-belt .latest-posts-wrap .posts-nav span:nth-child(2)
    float: none
  .blog .blog-belt .latest-posts-wrap .blog-container, .blog .blog-belt .full-content-wrap .blog-container
    margin: 0 auto 0

//media query for masonry
@media (max-width: 415px)
  .blog .blog-belt .latest-posts-wrap .blog-content-wrap, .blog .blog-belt .full-content-wrap .blog-content-wrap
    margin: 0
