.blog
  position: relative
  overflow: hidden
  .blog-belt
    width: 200%
    position: relative
    left: 0
    .latest-posts-wrap, .full-content-wrap
      width: 50%
      float: left
      overflow-y: hidden
    .latest-posts-wrap .posts-nav, .full-content-wrap .posts-nav
      width: 60%
      margin: 50px auto 0
    .latest-posts-wrap .posts-nav span, .full-content-wrap .posts-nav span
      letter-spacing: 7px
      font-size: 20px
      margin-left: 80px
    .latest-posts-wrap .posts-nav span:nth-child(2), .full-content-wrap .posts-nav span:nth-child(2)
      letter-spacing: 3px
      margin-right: 80px
      margin-top: 5px
      font-size: 15px
      float: right
      color: #747474
      cursor: pointer
    .latest-posts-wrap .blog-container, .full-content-wrap .blog-container
      width: 90%
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -ms-flex-wrap: wrap
      flex-wrap: wrap
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      margin: 30px auto 0
    .latest-posts-wrap .blog-container .post-container, .full-content-wrap .blog-container .post-container
      width: 300px
      height: auto
      margin: 20px
    .latest-posts-wrap .blog-container .post-container .post .post-img, .full-content-wrap .blog-container .post-container .post .post-img
      height: 250px
      background: #ccc
      overflow: hidden
    .latest-posts-wrap .blog-container .post-container .post .post-img a img, .full-content-wrap .blog-container .post-container .post .post-img a img
      -o-object-fit: cover
      object-fit: cover
      height: 100%
      width: 100%
    .latest-posts-wrap .blog-container .post-container .post .post-content, .full-content-wrap .blog-container .post-container .post .post-content
      height: auto
    .latest-posts-wrap .blog-container .post-container .post .post-content .blog-title, .full-content-wrap .blog-container .post-container .post .post-content .blog-title
      margin: 0
      font-size: 20px
      letter-spacing: 3px
      text-align: left
      font-weight: bold
    .latest-posts-wrap .blog-container .post-container .post .post-content .date, .full-content-wrap .blog-container .post-container .post .post-content .date
      color: #2e2e2e
      font-size: 12px
    .latest-posts-wrap .blog-container .post-container .post .post-content p, .full-content-wrap .blog-container .post-container .post .post-content p
      margin: 10px 0 10px
      height: auto
      font-size: 18px
    .latest-posts-wrap .blog-container .post-container .post .post-content .more, .full-content-wrap .blog-container .post-container .post .post-content .more
      margin: 0
      width: 200px
    .latest-posts-wrap .blog-container .post-container .post .post-content .more a, .full-content-wrap .blog-container .post-container .post .post-content .more a
      text-decoration: none
      color: black
    .latest-posts-wrap .return, .full-content-wrap .return
      text-align: center
    .latest-posts-wrap .return img, .full-content-wrap .return img
      cursor: pointer
    .latest-posts-wrap .blog-content-wrap, .full-content-wrap .blog-content-wrap
      margin: 0 auto
    .latest-posts-wrap .blog-content-wrap .post-block, .full-content-wrap .blog-content-wrap .post-block
      width: 350px
      min-width: 300px
      float: left
      margin: 10px
    .latest-posts-wrap .blog-content-wrap .post-block .post-block-text, .full-content-wrap .blog-content-wrap .post-block .post-block-text
      position: absolute
      bottom: 0
      padding: 5px
      box-sizing: border-box
      width: 100%
      background-color: rgba(255, 255, 255, 0.2)
    .latest-posts-wrap .blog-content-wrap .post-block .post-block-text
      h2, h4
        margin: 0
        color: black
    .full-content-wrap .blog-content-wrap .post-block .post-block-text
      h2, h4
        margin: 0
        color: black
    .latest-posts-wrap .blog-content-wrap .post-block .post-block-text a, .full-content-wrap .blog-content-wrap .post-block .post-block-text a
      text-decoration: none
    .latest-posts-wrap .blog-content-wrap .post-block .post-block-text a h2, .full-content-wrap .blog-content-wrap .post-block .post-block-text a h2
      font-size: 18px
    .latest-posts-wrap .blog-content-wrap .post-block .post-block-text h4, .full-content-wrap .blog-content-wrap .post-block .post-block-text h4
      font-size: 13px
      font-weight: 300
      font-style: italic

@media (max-width: 1017px)
  .blog .blog-belt
    .latest-posts-wrap .blog-container, .full-content-wrap .blog-container
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center

@media (max-width: 640px)
  .blog .blog-belt
    .latest-posts-wrap
      .posts-nav
        margin-left: 40px
        span
          margin-left: 0
          float: none
          &:nth-child(2)
            float: none
      .blog-container
        margin: 0 auto 0
    .full-content-wrap .blog-container
      margin: 0 auto 0

@media (max-width: 415px)
  .blog .blog-belt
    .latest-posts-wrap .blog-content-wrap, .full-content-wrap .blog-content-wrap
      margin: 0
