section
  font-family: "Dosis", sans-serif
  padding-top: 10px
  padding-bottom: 50px
  overflow-x: hidden
  position: relative
  h1
    letter-spacing: 9px
    text-align: center
    font-size: 40px
    font-weight: 300
  nav
    text-align: center
    margin-top: 50px
    margin-bottom: 50px
    font-size: 18px
    position: relative
    word-spacing: 100px
    a
      cursor: pointer
    .active
      text-decoration: underline

.belt
  width: 400%
  position: relative
  left: 0%
  .gallery-container-wrap, .category-container-wrap
    width: 25%
    float: left
  .gallery-container-wrap .gallery-container, .category-container-wrap .gallery-container
    max-width: 1200px
    margin: 0 auto
    display: -webkit-flex
    display: -ms-flexbox
    -webkit-flex-wrap: wrap
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-justify-content: center
  .gallery-container-wrap .gallery-container .img, .category-container-wrap .gallery-container .img
    height: 300px
    min-width: 300px
    background: #ccc
    margin: 20px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
  .gallery-container-wrap .gallery-container .img a img, .category-container-wrap .gallery-container .img a img
    height: 300px
    width: 300px
    -o-object-fit: cover
    object-fit: cover

.more
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  border: 2px solid black
  width: 270px
  height: 50px
  text-align: center
  margin: 20px auto
  padding-top: 12px
  box-sizing: border-box
  font-weight: bold
  img
    margin-top: -5px
    margin-left: 10px
    width: 30px
    height: 30px
    cursor: pointer

.notShowing
  display: none

.hidden
  visibility: hidden

@media (max-width: 640px)
  .gallery nav
    word-spacing: 30px
