---

---
<html>

<head>
<title> {{  page.title }} </title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet">
<style>

body{
  font-family: 'Dosis';
  text-align: center;
}
.content{
  width: 70%;
  margin: 0 auto;
}
p{

  font-size: 20px;
}


</style>
</head>

<body >
<h1 > {{page.title}} </h1>
<img src="{{ page.image }}" />

<div class="content">
  <p> {{ content }} </p>
</div>

<br>
<br>
<br>
<a href="http://www.aimenbenaissa.com/#blog"> Go Back to Posts</a>
</body>
</html>
